<template>
  <div class="mod-home">
    <h3>项目介绍</h3>
    <ul>
      <li>接口服务</li>
      <li>通过制定人口、法人等等标签体系，对应人口、法人等等信息标签化</li>
      <li>航旅数据智能大脑</li>
    </ul>
  </div>
</template>

<script>
  export default {
  }
</script>

<style>
  .mod-home {
    line-height: 1.5;
  }
</style>

