<template>
  <nav class="site-navbar" :class="'site-navbar--' + navbarLayoutType">
    <div class="site-navbar__header">
      <h1 class="site-navbar__brand" @click="$router.push({ name: 'home' })">
        <a class="site-navbar__brand-lg" href="javascript:;">接口服务系统</a>
        <a class="site-navbar__brand-mini" href="javascript:;">接口</a>
      </h1>
    </div>
    <div class="site-navbar__body clearfix">
      <el-menu
        class="site-navbar__menu"
        mode="horizontal">
        <el-menu-item class="site-navbar__switch" index="0" @click="sidebarFold = !sidebarFold">
          <icon-svg name="zhedie"></icon-svg>
        </el-menu-item>
      </el-menu>
      <el-menu
        class="site-navbar__menu site-navbar__menu--right"
        mode="horizontal">
<!--        <el-menu-item index="1" @click="$router.push({ name: 'theme' })">-->
<!--          <template slot="title">-->
<!--            <icon-svg name="shezhi" class="el-icon-setting"></icon-svg>-->
<!--          </template>-->
<!--        </el-menu-item>-->
        <el-menu-item index="2" v-if="messageFlag">
          <el-badge :value="1" class="item" size="small">
            <el-button size="small" @click="openMessage">消息</el-button>
          </el-badge>
        </el-menu-item>
<!--        <el-submenu index="3">-->
<!--          <template slot="title">产品</template>-->
<!--          <el-menu-item index="2-1"><a href="//home.jinxin.cloud/" target="_blank">关于我们</a></el-menu-item>-->
<!--          <el-menu-item index="2-2"><a href="//home.jinxin.cloud/" target="_blank">大数据平台</a></el-menu-item>-->
<!--        </el-submenu>-->
        <el-menu-item class="site-navbar__avatar" index="3">
          <el-dropdown :show-timeout="0" placement="bottom">
            <span class="el-dropdown-link">
              <img src="~@/assets/img/tx.png" :alt="userName">{{ userName }}
            </span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="toUc()">用户中心</el-dropdown-item>
              <el-dropdown-item @click.native="logoutHandle()">退出</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </el-menu-item>
      </el-menu>
    </div>
  </nav>
</template>

<script>
  import { toAuthLogin } from '@/utils'
  import RouterConstants from '@/constants/router.js'
  export default {
    data () {
      return {
        messageFlag: false
      }
    },
    created () {
      //this.queryMessage()
    },
    computed: {
      navbarLayoutType: {
        get () { return this.$store.state.common.navbarLayoutType }
      },
      sidebarFold: {
        get () { return this.$store.state.common.sidebarFold },
        set (val) { this.$store.commit('common/updateSidebarFold', val) }
      },
      mainTabs: {
        get () { return this.$store.state.common.mainTabs },
        set (val) { this.$store.commit('common/updateMainTabs', val) }
      },
      userName: {
        get () { return this.$store.state.user.name }
      }
    },
    methods: {
      toUc () {
        location.href = process.env.VUE_APP_AC_HTTP_SERVER
      },
      onlineLogout(){
        this.$httpTAG({
          url: this.$httpTAG.adornUrl('/tag/online/logout'),
          method: 'get'
        }).then(({data}) => {
          sessionStorage.clear()
          toAuthLogin()
        }).finally(res => {

        })
      },
      // 退出
      logoutHandle () {
        this.$confirm(`确定进行[退出]操作?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.onlineLogout()
        }).catch(() => {})
      },

      queryMessage(){

        this.$httpTAG({
          url: this.$httpTAG.adornUrl('/tag/production/taginfo/queryTagMessage'),
          method: 'get'
        }).then(({data}) => {
          this.messageFlag = data.open
          if(this.messageFlag){
            this.openMessage()
          }
        }).finally(res => {

        })
      },

      openMessage(){

        this.$notify({
          title: '标签审核',
          dangerouslyUseHTMLString: true,
          message: '含有未审核标签，请到【标签工厂 -- 标签审核】中对标签进行审核'
        });

      }

    }
  }
</script>
